export(band_measure)
export(classify_sets)
export(curve_mise)
export(design_setup)
export(evaluate_fit)
export(fisher_info)
export(gen_fofr)
export(hypercube_check)
export(ipw_risk)
export(make_blocks)
export(operator_error)
export(parity_stat)
export(phi_basis)
export(prediction_error)
export(rbdata)
export(rbfit)
export(recover_all)
export(resolution_audit)
export(resolution_order)
export(response_basis)
export(rho_r)
export(rho_set)
export(sim_design)
export(truth_matrix)

S3method(coef, rbfit)
S3method(predict, rbfit)
S3method(print, rbfit)

importFrom(stats, coef, predict)
